* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    font-family: 'Roboto Slab', serif;
}






